@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(/fonts/NotoSansKr/NotoSansKR-Thin.woff2) format('woff2'),
    url(/fonts/NotoSansKr/NotoSansKR-Thin.woff) format('woff'),
    url(/fonts/NotoSansKr/NotoSansKR-Thin.otf) format('opentype');
}

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.cafe24 {
    font-family: Cafe24SsurroundAir, Arial, Helvetica, sans-serif;
}

.notosans {
    font-family: Noto Sans KR, Arial, Helvetica, sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    background-color: #EDEEF7;
    height: 100vh;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 4rem auto 0 auto;
    align-items: center;
}

.top-nav .logo-container {
    width: 15%;
    align-self: flex-end;
}

.top-nav .logo-container img {
    width: 100%;
}

.nav-items {
    display: flex;
    align-items: flex-end;
}

.nav-items li {
    margin: 0 2.5rem;
    font-size: 1.5rem;
}

.nav-items li a {
    font-weight: 400;
    color: #404865;
}

.nav-items .current {
    font-weight: 900;
    font-size: 1.8rem;
}

.search-bar {
    display: flex;
    height: 2.5rem;
}

.search-bar-front {
    background-color: #ffffff;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 2px;
}
.search-bar i {
    padding: 0.5rem 0.5rem;
}

.search-bar input {
    padding: 0.5rem 1.5rem;
    width: 15em;
}

.search-bar button {
    background-color: #ffffff;
    margin-left: 2px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 3rem;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
}

aside {
    margin: 2rem 0;
    background-color: #F5F5F7;
    padding: 1rem 0.5rem;
    height: 90vh;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
}

.profile #my-snowman {
    width: 80%;
    margin: auto;
}

.user {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.username {
    font-size: 2.5rem;
    font-weight: bold;
    color: #404865;
}

.days {
    font-size: 1.5rem;
    color: #404865;
    margin: 0 1rem;
}

.recent-activity {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
}

.recent-activity h2 {
    padding: 0.5rem;
    border-bottom: dotted #000 2px;
    color: #404865;
}

.recent-activity .hobby {
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0 0.5rem 1rem;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 0;
    text-align: center;
}

.recent-activity .hobby-name {
    font-size: 2rem;
}

.recent-activity .hobby .activity {
    margin: 0 2rem;
    font-size: 1.7rem;
    font-weight: 600;
}

main {
    width: 70%;
    margin: 2rem;
}

.tab {
    display: flex;
    align-items: flex-end;
    padding-inline-start: 0;
}

.tab li {
    margin-top: 1rem;
    background-color: #E0E7FF;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    box-shadow: 3px -3px 10px rgba(150, 150, 150, 0.7);
    height: 100%;
}

.tab li a {
    color: #c4c4c4;
}

.tab li[class="current"] {
    background-color: #B1BFF2;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    width: 13rem;
    padding: 0.5rem 2rem;
}

.tab li[class="current"] a {
    color: #000000;
}

.content-area {
    width: 950px;
    height: 850px;
    background-color: #F5F5F7;
}


.content-area article{
    float: left;
    width: 280px;
    height: 280px;
    margin: 10px;
    background-color: #F5F5F7;
}
.content-area img{
    width: 280px;
    height: 280px;
    margin: 15px;
    object-fit: cover;
}
input[id="cb1"] + label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #bcbcbc;
    cursor: pointer;
}
input[id="cb1"]:checked + label {
    background-color: #666666;
}
input[id="cb1"] {
    display: none;
}
input[id="cb2"] + label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #bcbcbc;
    cursor: pointer;
}
input[id="cb2"]:checked + label {
    background-color: #666666;
}
input[id="cb2"] {
    display: none;
}
input[id="cb3"] + label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #bcbcbc;
    cursor: pointer;
}
input[id="cb3"]:checked + label {
    background-color: #666666;
}
input[id="cb3"] {
    display: none;
}
section span{
    text-align: center;
    line-height: 100px;
    margin-right: 15px;
    margin-left: 10px;
    font-size: 1.7rem;
    background-color: #F5F5F7;
}
.top-section{
    height: 65px;
    background-color: #F5F5F7;
    padding-left: 25px;
    padding-bottom: 20px;
}
.content-area a{
    color:#9184D0;
    text-decoration: none;
    background-color: #F5F5F7;
    font-size: 20px;
}

.content-area .create-button {
    background-color: #B1BFF2;
    padding: 0.5rem 1rem;
    color: #000000;
    float: right;
    margin-top: 1.5rem;
    margin-right: 2rem;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #a6a6a6;
}