@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(/fonts/NotoSansKr/NotoSansKR-Thin.woff2) format('woff2'),
    url(/fonts/NotoSansKr/NotoSansKR-Thin.woff) format('woff'),
    url(/fonts/NotoSansKr/NotoSansKR-Thin.otf) format('opentype');
}

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.cafe24 {
    font-family: Cafe24SsurroundAir, Arial, Helvetica, sans-serif;
}

.notosans {
    font-family: Noto Sans KR, Arial, Helvetica, sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    background-color: #EDEEF7;
    height: 100vh;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 4rem auto 0 auto;
}

.top-nav .logo-container {
    width: 15%;
}

.top-nav .logo-container img {
    width: 100%;
}

.nav-items {
    display: flex;  
}

.nav-items li {
    margin: 0 2.5rem;
    font-size: 1.5rem;
}

.nav-items li a {
    font-weight: 600;
    color: #404865;
}

.search-bar {
    display: flex;
    height: 2.5rem;
}

.search-bar-front {
    background-color: #ffffff;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 2px;
}
.search-bar i {
    padding: 0.5rem 0.5rem;
}

.search-bar input {
    padding: 0.5rem 1.5rem;
    width: 15em;
}

.search-bar button {
    background-color: #ffffff;
    margin-left: 2px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 3rem;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
}

aside {
    margin: 2rem 0;
    background-color: #F5F5F7;
    padding: 1rem 0.5rem;
    height: 90vh;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
}

.profile #my-snowman {
    width: 80%;
    margin: auto;
}

.user {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.username {
    font-size: 2.5rem;
    font-weight: bold;
    color: #404865;
}

.days {
    font-size: 1.5rem;
    color: #404865;
    margin: 0 1rem;
}

.recent-activity {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
}

.recent-activity h2 {
    padding: 0.5rem;
    border-bottom: dotted #000 2px;
    color: #404865;
}

.recent-activity .hobby {
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0 0.5rem 1rem;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 0;
    text-align: center;
}

.recent-activity .hobby-name {
    font-size: 2rem;
}

.recent-activity .hobby .activity {
    margin: 0 2rem;
    font-size: 1.7rem;
    font-weight: 600;
}

.container>main {
    width: 70%;
    margin: 2rem;
}

.tab {
    display: flex;
    align-items: flex-end;
    padding-inline-start: 0;
}

.tab li {
    margin-top: 1rem;
    background-color: #E0E7FF;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    
    box-shadow: 3px -3px 10px rgba(150, 150, 150, 0.7);
    height: 100%;
}

.tab li a {
    color: #c4c4c4;
}

.tab li[class="current"] {
    background-color: #B1BFF2;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    width: 13rem;
    padding: 0.5rem 2rem;
}

.tab li[class="current"] a {
    color: #000000;
}

.content-area {
    width: 950px;
    height: 850px;
    background-color: #F5F5F7;
}

.content-area {
    width: 950px;
    height: 840px;
    background-color: #F5F5F7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.top h1 {
    margin: 0 2rem;
    font-size: 3rem;
    align-self: center;
}

.top a {
    margin: 3rem 2rem;
}

.grid-container {
    background-color: #ededee;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.7rem;
    padding: 1rem 3rem;
    margin: 0 1rem 2rem 1rem;
}

.stack {
    width: 80%;
    justify-self: center;
    padding: 1rem;
    margin : 1rem;
    position : relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.stack-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.block-1 {
    background-color: #FFCFE0;
}

.block-2 {
    background-color: #CFD3FF;
    
}

.block-3 {
    background-color: #FBEACB;
}

.block {
    height : 100px;
    border-radius : 15px;
    text-align : center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 2px 2px 5px #a6a6a6;
    margin-bottom : 5px;
}

.block p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-shadow: 1px 1px 3px #a6a6a6;
}

.level {
    text-align : center;
    font-family: 'Cafe24SsurroundAir';
    font-weight : 500;
    font-size: 30px;
    height: 5rem;
}

.hobby {
    text-align : center;
    font-size : 30px;
    margin-top: 3rem;
}

.content-area .detail-button {
    background-color: #B1BFF2;
    padding: 0.5rem 1rem;
    color: #000000;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #a6a6a6;
    font-size: 1.3rem;
}