@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(/fonts/NotoSansKr/NotoSansKR-Thin.woff2) format('woff2'),
    url(/fonts/NotoSansKr/NotoSansKR-Thin.woff) format('woff'),
    url(/fonts/NotoSansKr/NotoSansKR-Thin.otf) format('opentype');
}

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.cafe24 {
    font-family: Cafe24SsurroundAir, Arial, Helvetica, sans-serif;
}

.notosans {
    font-family: Noto Sans KR, Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(to bottom right,#F1EEFF 30%, #DDEFF9) no-repeat;
    height: 1024px;
}

header {
    margin: 2rem 0;
    text-align: center;
}

header{
    color: #000;
    text-shadow: 3px 15px 10px #c4c4c4;
}
header .time h1 {
    font-size: 9rem;
}

header .time p {
    font-size: 2rem;
    text-shadow: 3px 10px 10px #c4c4c4;
}

.message {
    font-size: 3rem;
    margin-top: 1.5rem;
}


main {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
}

.left {
    padding: 2rem 0;
}
.box {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 2rem 1rem;
    border-radius: 10px;
}

.box h3 {
    text-align: center;
    font-size: 2.5rem;
}
.notice {
    display: flex;
    padding: 0.5rem 0;
    margin: 0.5rem 1rem;
    align-items: center;
}

.notice .img-container {
    width: 3.5rem;
    height: 3.5rem;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.notice-content {
    padding: 0 0.5rem 0 1.8rem;
    margin: 0;
    font-size: 1.3rem;
}

.my-character {
    text-align: center;
    align-self: flex-start;
    padding-top: 2rem;
}

.create-button {
    background-color: #B1BFF2;
    padding: 0.5rem 1rem;
    color: #000000;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #a6a6a6;
    font-size: 1.5rem;
}

.my-character img {
    width: 90%;
    padding-top: 3rem;
}

.friends {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.friends-title {
    margin-bottom: 3rem;
    font-size: 2rem;
    text-align: center;
}

.friends-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem 1rem;
}

.friends img {
    height: 10rem; 
}

.friends a {
    display: flex;
    justify-content: center;
    align-items: center;
}

